    
<h2 class="title">{{title}} has been deleted</h2>
{{#if usedCar}}
{{#with usedCar}}
{{/with}}
{{else}}
<p class="notfound">ITEM NOT FOUND</p>
{{/if}}
<div class="goback">
<a class="default" href="/"><button class="goback-btn">BACK TO HOME PAGE</button></a>
</div>