<h2 class="title">HOME</h2>
<form method="PORT" action="/detail">
<div class="search">
<input type="text" name="brand" placeholder="brand">
<button class="search-btn">Search</button>
</div>
</form>
    {{#each usedCars}}
    <div class="detail1">
    <a href="/detail?brand={{this.brand}}"><button class="detail-btn">{{this.brand}}</button></a>
    <br>
    </div>
    {{/each}}

<div id="root"></div>
<script type="text/babel">

    const usedCars = {{{usedCars}}}

    const UsedCars = (props) => {
        const listItems = usedCars.map((item) =>  <a href={"/detail?brand="+item.brand}><button class="detail-btn">{item.brand}</button></a>);
        return <ul>{listItems}</ul>
    }

      ReactDOM.render(
        <div class="detail1"><UsedCars /></div>,
        document.getElementById('root')
      );

</script>