<h2 class="title">HOME</h2>
<form method="PORT" action="/detail">
<div class="search">
<input type="text" name="brand" placeholder="brand">
<button class="search-btn">Search</button>
</div>
</form>
    {{#each usedCars}}
    <div class="detail1">
    <a href="/detail?brand={{this.brand}}"><button class="detail-btn">{{this.brand}}</button></a>
    <a href="/delete?brand={{this.brand}}"><button class="detail-btn">DELETE</button></a>
    <br>
    </div>
    {{/each}}

